.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-page-header {
  font-size:150%;
}

h1 {
  font-size:200%;
}

h2{
  font-size:150%;
  color:grey;
}

h3 {
  font-size:150%;
}

h4 {
  font-size:150%;
}

h5 {
  font-size:150%;
}

p {
  font-size:150%;
}